@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(16, 5, 26);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  height: 80px;
  background-color: rgb(59, 34, 59);
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0px 23px;
}
nav ul a {
  text-decoration: none;
  color: white;
}
nav ul a:hover {
  font-size: 1.04rem;
  color: lavender;
}
nav ul a.active-link {
  font-weight: 600;
  color: purple; 
  font-size: 1.05rem;
  border-bottom: 2px solid purple;
}
.left {
  font-size: 1.5rem;
}
#element {
  color: purple;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0px;
}
.firstSection > div {
  width: 45%;
    margin: 0 111px;
}

.leftSection {
  font-size: 2.5rem;
}
.leftSection .btn {
       background: #1e2167;
    padding: 7px;
    color: #ececec;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    font-size: 15;
    cursor: pointer;
}
.rightSection img {
  height: 458px;
  width: 462px;
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 60vh;
}
hr {
  border: 0px;
  background: rgb(89, 53, 136);
  height: 1.5px;
  margin: 40px 84px;
}
.secondSection h1 {
  font-size: 1.9rem;
}
.secondSection .ex-box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0px;
  display: flex;
}
.secondSection .vertical {
  height: 93px;
  margin: 0 100px;
  width: 1px;
  background-color: white;
}
.image-top {
  width: 40px;
  position: relative;
  top: -17px;
  left: -19px;
}

footer {
  background-color: #360b36;
  height: 50px;
}

.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-first h4 {
  margin: 0;
}
.aboutSection {
  max-width: 80vw;
  margin: auto;
  height: 35vh; 
  padding: 50px 0; 
}
.aboutSection h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.aboutSection h3 {
  width: 70%; 
  margin: 15px 0 25px 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: #a7a7a7; 
  line-height: 1.6;
}


.aboutSection p {
  width: 60vw;
  font-size: 1.1rem;
  line-height: 1.8;
  border-left: 3px solid purple;
  padding-left: 15px;
  color: #e0e0e0;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
.projectSection {
  max-width: 80vw;
  margin: auto;
  height: auto; 
  padding-bottom: 50px;
}

.boxholder {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}

.box {
  width: calc((80vw - 40px) / 3); 
  height: 0; 
  padding-bottom: calc((80vw - 40px) / 3 * 9 / 16); 
  position: relative; 
  border: none;
  
  border-radius: 10px;
  overflow: hidden; 
}
.box1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 5px;
}


.contactSection {
  max-width: 80vw;
  margin: auto;
  height: 30vh;
  padding: 50px 0; 
}

.contactSection h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}


.contactSection ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contactSection li {
  font-size: 1.2rem;

  padding: 5px 0;
  border-bottom: 1px dashed #360b36; 
  display: flex; 
  align-items: center;
}

.contactSection li:last-child {
    border-bottom: none;
}

.contactSection li a {
  color: lavender; 
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 500;
}

.contactSection li a:hover {
  color: purple; 
  text-decoration: underline;
}
.serviceSection{
  max-width: 80vw;
  margin: auto;
  min-height: 30vh;
  padding: 50px 0; 
}
.serviceSection {
  max-width: 80vw;
  margin: auto;
  height: 30vh;
  padding: 50px 0;
}

.serviceSection h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.serviceSection ul {
  list-style: none; 
  padding: 0;
  margin-top: 20px;
}

.serviceSection li {
  font-size: 1.2rem;
  padding: 10px 0;
  margin-bottom: 8px;
  position: relative;
  padding-left: 25px; 
  border-bottom: 1px solid rgba(128, 0, 128, 0.2); 
  transition: color 0.3s ease;
}
.serviceSection li::before {
  content: '\2022'; 
  color: purple; 
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.serviceSection li:hover {
    color: lavender; 
}