@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color:rgb(26, 5, 44);
    color: white;
     font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
     height:80px;
     background-color: rgb(59, 34, 59);
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
   
}

nav ul li{
    list-style: none;
    margin: 0px 23px;
}
.left{
    font-size: 1.5rem;
}
.firstSecion{
    display: flex;
    justify-content: space-around;
    margin: 23px 0px;
}
