@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(16, 5, 26);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  height: 80px;
  background-color: rgb(59, 34, 59);
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0px 23px;
}
nav ul a {
  text-decoration: none;
  color: white;
}
nav ul a:hover {
  font-size: 1.04rem;
  color: lavender;
}
.left {
  font-size: 1.5rem;
}
#element {
  color: purple;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0px;
}
.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 2.5rem;
}

.rightSection img {
  height: 458px;
  width: 462px;
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
hr {
  border: 0px;
  background: rgb(89, 53, 136);
  height: 1.5px;
  margin: 40px 84px;
}
.secondSection h1 {
  font-size: 1.9rem;
}
.secondSection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0px;
  display: flex;
}
.secondSection .vertical {
  height: 93px;
  margin: 0 100px;
  width: 1px;
  background-color: white;
}
.image-top {
  width: 40px;
  position: relative;
  top: -17px;
  left: -19px;
}

footer {
  background-color: #360b36;
  height: 50px;
}

.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-first h4 {
  margin: 0;
}
